{{#if addNewAnswer}}
<h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="name"><strong>Name:</strong></label>
        {{input value=name id="name"}}
      </div>
      <div class="form-group">
        <label for="newAnswer"><strong>Answer:</strong></label>
        {{input value=newAnswer id="newAnswer"}}
      </div>
      <button {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
<br>
  <button class ="btn-info"{{action 'answerFormShow'}}>New Answer</button>
{{/if}}
